@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  body {
     background-color: #eee;
     text-align: center;
  }

  .flex-container{
    text-align: center;
    display: flex;
  }